{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
          
          ["inline-react-svg", {"caseSensitive": true}]
        ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
          
          ["inline-react-svg", {"caseSensitive": true}]
        ]
    },
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]],
      "plugins": [
          
          ["inline-react-svg", {"caseSensitive": true}]
        ]
    }
  }
}
